
<% @component_murs.each do |component| %>
	<div class="components-item">
		<%= link_to component_mur_path(component, mur_id: @mur.id), remote: true, method: :delete,  data: { confirm: t('.eliminar') } do %>
		  <div class="components-eliminar elimina-right">
		  	<i class="fa fa-trash" aria-hidden="true"></i>
		  </div>
		<% end %>
		<%= link_to edit_component_mur_path(component.id, mur_id: @mur.id, edifici_id: params[:edifici_id]), remote: true do %>
	    <div class="components-editar">
	    	<%= component.nom %>
	    </div>
	  <% end %>
	</div>
<% end %>
