<div class="light-background-container">
  
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="titol-seccio">
          <%= t('.titol') %>
        </div>
      </div>
    </div>
        
    <div class="grid-x grid-margin-x">
      <div class="medium-12 cell">
        <div class="light-container">
          <h4 class="titol-seccio"><%= t('.murs') %></h4>
        </div>
      </div>
    </div>
  </div>
</div>